* {
  box-sizing: border-box;
}

:root {
  --background-blue: #d6ebfd;
  --light-blue: #bbdefb;
  --dark-blue: #344861;
  --bright-blue: #325aaf;
  --incorrect-red: #e55c6c;
  --title-black: #0f172a;
  --highlighted-row: #e2ebf3;
  --highlighted-number: #c3d7ea;
  --timer-gray: #94a3b7;

  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  max-width: 450px;
  margin: 48px auto;
  padding-inline: 12px;
  background-color: var(--background-blue);
}

.container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid var(--dark-blue);
}

.container.completed {
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
  border-radius: 2px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-blue);
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.container > div {
  border: 1px solid var(--dark-blue);
  aspect-ratio: 1;
}

.big {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.big > div {
  border: 0.5px solid var(--dark-blue);
  aspect-ratio: 1;
}

.small {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 350;
  color: var(--dark-blue);
  user-select: none;
  min-height: 100%;
}

.highlighted {
  background-color: var(--highlighted-row);
}

.selected {
  background-color: var(--light-blue) !important;
}

.incorrect {
  color: var(--incorrect-red);
}

.highlighted-number {
  background-color: var(--highlighted-number);
}

.inputs {
  display: flex;
  justify-content: space-evenly;
}

.inputs > p {
  font-size: 2.5em;
  color: var(--bright-blue);
  cursor: pointer;
  font-weight: 400;
  user-select: none;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-row-right {
  display: flex;
  align-items: center;
  gap: 1em;
}

.timer > p {
  color: var(--timer-gray);
  user-select: none;
  font-size: 1.5em;
  font-weight: 400;
}

.celebration {
  display: none;
}

.title {
  font-size: 1.6em;
  color: var(--title-black);
}
